
*.bin

*.lock

*.class

.gradle/6.5/gc.properties

.gradle/buildOutputCleanup/cache.properties

.gradle/vcs-1/gc.properties

build/libs/\[Mercury\] CombatTag-1.0-SNAPSHOT.jar

build/resources/main/config.yml

build/resources/main/plugin.yml

build/tmp/compileJava/

*.MF

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

libs/paperspigot-1.7.10-R0.1-SNAPSHOT.jar
